In [59]:
import pandas as pd

# 題目:
# 讀取STOCK_DAY_0050_202009.csv串聯STOCK_DAY_0050_202010.csv，並且找出open小於close的資料
ａ = pd.read_csv('STOCK_DAY_0050_202009.csv')
b = pd.read_csv('STOCK_DAY_0050_202010.csv')
c = b.append(a)
c.loc[c.open<c.close]

         date    open    high     low   close
1   109/10/06  104.00  104.35  103.85  104.25
2   109/10/07  104.00  105.00  103.50  104.80
3   109/10/08  105.45  106.35  105.30  106.20
4   109/10/12  106.70  107.70  106.70  107.05
9   109/10/19  105.65  106.60  105.60  106.60
12  109/10/22  105.70  106.10  105.50  106.10
0   109/09/01  102.45  103.35  101.85  103.35
3   109/09/04  102.00  102.70  101.90  102.55
5   109/09/08  102.75  103.10  102.45  103.00
6   109/09/09  101.75  102.35  101.15  102.30
7   109/09/10  102.80  103.35  102.60  103.20
8   109/09/11  103.20  103.35  102.80  103.25
9   109/09/14  103.50  104.55  103.25  104.55
10  109/09/15  104.45  105.20  104.25  104.95
19  109/09/28  101.35  102.30  101.00  102.30
21  109/09/30  102.75  103.45  102.60  103.00